{% extends 'feed/base.html' %}
{% block content %}

<h1>Your Feed Subscriptions</h1>
{% if user.is_authenticated %}

    <div>
        <h3>Import/Export OPML</h3>
        <form method="post" action="{% url 'feed:opml' %}" enctype="multipart/form-data" style="display: inline;">
            {% csrf_token %}
            <div style="margin: 20px 0;">
                <label for="opml_file">Select OPML file to import:</label><br>
                <input type="file" name="opml_file" id="opml_file" accept=".opml,.xml" require>
            </div>
            <button type="submit" name="import_opml">
                Import
            </button>
        </form>
        <form method="get" action="{% url 'feed:opml' %}" style="display: inline;">
            <button type="submit" name="export_opml">
                Export
            </button>
        </form>
    </div>

    <div class="add-feed'form">
        <h3>Add New Feed</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Feed</button>
        </form>
    </div>

    <hr>

    <h3>Your Feeds</h3>
    {% if subscriptions %}
        <ul>
            {% for subscription in subscriptions %}
                <li>
                    <div>
                        <strong>{{ subscription.feed.title }}</strong><br>
                        <small>{{ subscription.feed.url }}</small>
                    </div>

                    <form method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="feed_id" value="{{ subscription.id }}">
                        <button type="submit" name="delete_feed" value="1" onclick="return confirm('Remove this feed?')">
                            Remove
                        </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no subscriptions yet!</p>
    {% endif %}
{% else %}
    <p><a href="{% url 'feed:login' %}">Login</a> or <a href="{% url 'feed:register' %}">Register</a> to get started!</p>
{% endif %}

{% endblock %}

