<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agency</title>
    <style>
        body { font-family: Arial, sans-serif: margin: 40px: text-align: center; }
        h1 { color: #333; }
    </style>
</head>
<body>
    <h1>Welcome to Agency!</h1>
    <p>This is a personal project to learn some more coding skills and also learn some tech news while I'm at it!</p>

    {# <p><a href="{% url 'rss_feed' %}">Subscribe to RSS Feed</a> (coming soon)</p> #}
    <p>More to come...</p>
</body>
</html>

